@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(0deg, #fec163, #b6360f);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: var(--font-2p);
}


